In [2]:
import pandas as pd
import numpy as np
import matplotlib as plt
import seaborn as sbn

In [4]:
pd.set_option('display.max_rows', None)      # Показывает все строки
pd.set_option('display.max_columns', None)   # Показывает все столбцы
pd.set_option('display.width', 1000)         # Расширяет консольную ширину
pd.set_option('display.colheader_justify', 'left')  # Выравнивание заголовков

In [6]:
df = pd.read_csv('data.csv', sep=';')

In [31]:
df = df.astype(str).apply(lambda col: col.map(lambda x: x.encode('latin1').decode('utf-8')))

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4109 entries, 0 to 4108
Data columns (total 77 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   region                4109 non-null   object
 1   municipality          4109 non-null   object
 2   settlement            4109 non-null   object
 3   oktmo                 4109 non-null   int64
 4   latitude_dd           4109 non-null   float64
 5   longitude_dd          4109 non-null   float64
 6   year                  4109 non-null   int64
 7   assets                2134 non-null   float64
 8   assets_depreciation   2134 non-null   float64
 9   assets_exhausted      2130 non-null   float64
 10  assets_new            1790 non-null   float64
 11  birth                 4104 non-null   float64
 12  build_flat            3133 non-null   float64
 13  catering              4017 non-null   float64
 14  catering_growth       2715 non-null   float64
 15  collective_foreign    828 non-null    float64
 16  collective_people     854 non-null    float64
 17  collective_russian    854 non-null    float64
 18  comp_electr           1977 non-null   float64
 19  comp_manufact         1971 non-null   float64
 20  comp_mining           1509 non-null   float64
 21  construction          3913 non-null   float64
 22  crimes                3462 non-null   float64
 23  criminals             3432 non-null   float64
 24  death                 4101 non-null   float64
 25  doctors               4015 non-null   float64
 26  doctors_per10         4008 non-null   float64
 27  domesticserv          1959 non-null   float64
 28  hospital_beds         4008 non-null   float64
 29  hospital_beds_per10   4001 non-null   float64
 30  hospitals             3938 non-null   float64
 31  industry              1261 non-null   float64
 32  invest_budg           3869 non-null   float64
 33  invest_fed            3854 non-null   float64
 34  invest_reg            1563 non-null   float64
 35  investment            4071 non-null   float64
 36  job_regist            1889 non-null   float64
 37  job_regist_unempl     1893 non-null   float64
 38  job_seeker            2073 non-null   float64
 39  job_seeker_unempl     2084 non-null   float64
 40  living_space          4088 non-null   float64
 41  migration             1790 non-null   float64
 42  n_companies           3979 non-null   float64
 43  new_hospital_beds     3321 non-null   float64
 44  new_housing           4085 non-null   float64
 45  new_polycl_visits     3528 non-null   float64
 46  new_preschool_places  3897 non-null   float64
 47  new_school_places     3476 non-null   float64
 48  nurses                4015 non-null   float64
 49  nurses_per10          4008 non-null   float64
 50  pens                  3958 non-null   float64
 51  pension               3056 non-null   float64
 52  polycl_visits         3987 non-null   float64
 53  polycl_visits_per10   3977 non-null   float64
 54  polyclinic            3897 non-null   float64
 55  pop_1_6               2941 non-null   float64
 56  pop_old               2938 non-null   float64
 57  pop_work              2942 non-null   float64
 58  pop_young             2942 non-null   float64
 59  population            4107 non-null   float64
 60  preschool             3767 non-null   float64
 61  preschool_child       4094 non-null   float64
 62  preschool_coverage    1036 non-null   float64
 63  preschool_places      4088 non-null   float64
 64  preschool_waiting     684 non-null    float64
 65  pupils                2312 non-null   float64
 66  retail                3756 non-null   float64
 67  retail_growth         2763 non-null   float64
 68  rni                   4097 non-null   float64
 69  schools               2312 non-null   float64
 70  servises              1922 non-null   float64
 71  volume_electr         2701 non-null   float64
 72  volume_manufact       2701 non-null   float64
 73  volume_mining         1341 non-null   float64
 74  volume_water          584 non-null    float64
 75  wage                  4098 non-null   float64
 76  workers               4095 non-null   float64
dtypes: float64(72), int64(2), object(3)
memory usage: 2.4+ MB

In [37]:
text_cols = ['region', 'municipality', 'settlement']

In [10]:
missing_count = df.isna().sum()

# Подсчёт процента пропусков
missing_percent = (missing_count / len(df)) * 100

# Объединение в одну таблицу
missing_summary = pd.DataFrame({
    'Missing_Count': missing_count,
    'Missing_Percent': missing_percent.round(2)
}).sort_values(by='Missing_Percent', ascending=False)

print(missing_summary)

                      Missing_Count  Missing_Percent
volume_water          3525           85.79
preschool_waiting     3425           83.35
collective_foreign    3281           79.85
collective_people     3255           79.22
collective_russian    3255           79.22
preschool_coverage    3073           74.79
industry              2848           69.31
volume_mining         2768           67.36
comp_mining           2600           63.28
invest_reg            2546           61.96
migration             2319           56.44
assets_new            2319           56.44
job_regist            2220           54.03
job_regist_unempl     2216           53.93
servises              2187           53.22
domesticserv          2150           52.32
comp_manufact         2138           52.03
comp_electr           2132           51.89
job_seeker            2036           49.55
job_seeker_unempl     2025           49.28
assets_exhausted      1979           48.16
assets                1975           48.07
assets_depreciation   1975           48.07
pupils                1797           43.73
schools               1797           43.73
volume_manufact       1408           34.27
volume_electr         1408           34.27
catering_growth       1394           33.93
retail_growth         1346           32.76
pop_old               1171           28.50
pop_1_6               1168           28.43
pop_work              1167           28.40
pop_young             1167           28.40
pension               1053           25.63
build_flat             976           23.75
new_hospital_beds      788           19.18
criminals              677           16.48
crimes                 647           15.75
new_school_places      633           15.41
new_polycl_visits      581           14.14
retail                 353            8.59
preschool              342            8.32
invest_fed             255            6.21
invest_budg            240            5.84
polyclinic             212            5.16
new_preschool_places   212            5.16
construction           196            4.77
hospitals              171            4.16
pens                   151            3.67
polycl_visits_per10    132            3.21
n_companies            130            3.16
polycl_visits          122            2.97
hospital_beds_per10    108            2.63
nurses_per10           101            2.46
hospital_beds          101            2.46
doctors_per10          101            2.46
nurses                  94            2.29
doctors                 94            2.29
catering                92            2.24
investment              38            0.92
new_housing             24            0.58
living_space            21            0.51
preschool_places        21            0.51
preschool_child         15            0.37
workers                 14            0.34
rni                     12            0.29
wage                    11            0.27
death                    8            0.19
birth                    5            0.12
population               2            0.05
municipality             0            0.00
year                     0            0.00
longitude_dd             0            0.00
latitude_dd              0            0.00
oktmo                    0            0.00
settlement               0            0.00
region                   0            0.00

In [12]:
columns_to_drop = [
    'assets_depreciation', 'assets_exhausted', 'assets_new',
    'catering', 'catering_growth',
    'collective_foreign', 'collective_people', 'collective_russian',
    'comp_electr', 'comp_manufact', 'comp_mining',
    'crimes', 'criminals',
    'doctors_per10', 'domesticserv', 'hospital_beds_per10',
    'invest_reg',
    'job_regist', 'job_seeker', 'job_seeker_unempl', 'migration',
    'nurses_per10', 'polycl_visits_per10',
    'pop_old', 'preschool_coverage', 'preschool_waiting',
    'retail_growth',
    'volume_electr', 'volume_manufact', 'volume_mining', 'volume_water'
]
df = df.drop(columns=columns_to_drop)

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4109 entries, 0 to 4108
Data columns (total 46 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   region                4109 non-null   object
 1   municipality          4109 non-null   object
 2   settlement            4109 non-null   object
 3   oktmo                 4109 non-null   int64
 4   latitude_dd           4109 non-null   float64
 5   longitude_dd          4109 non-null   float64
 6   year                  4109 non-null   int64
 7   assets                2134 non-null   float64
 8   birth                 4104 non-null   float64
 9   build_flat            3133 non-null   float64
 10  construction          3913 non-null   float64
 11  death                 4101 non-null   float64
 12  doctors               4015 non-null   float64
 13  hospital_beds         4008 non-null   float64
 14  hospitals             3938 non-null   float64
 15  industry              1261 non-null   float64
 16  invest_budg           3869 non-null   float64
 17  invest_fed            3854 non-null   float64
 18  investment            4071 non-null   float64
 19  job_regist_unempl     1893 non-null   float64
 20  living_space          4088 non-null   float64
 21  n_companies           3979 non-null   float64
 22  new_hospital_beds     3321 non-null   float64
 23  new_housing           4085 non-null   float64
 24  new_polycl_visits     3528 non-null   float64
 25  new_preschool_places  3897 non-null   float64
 26  new_school_places     3476 non-null   float64
 27  nurses                4015 non-null   float64
 28  pens                  3958 non-null   float64
 29  pension               3056 non-null   float64
 30  polycl_visits         3987 non-null   float64
 31  polyclinic            3897 non-null   float64
 32  pop_1_6               2941 non-null   float64
 33  pop_work              2942 non-null   float64
 34  pop_young             2942 non-null   float64
 35  population            4107 non-null   float64
 36  preschool             3767 non-null   float64
 37  preschool_child       4094 non-null   float64
 38  preschool_places      4088 non-null   float64
 39  pupils                2312 non-null   float64
 40  retail                3756 non-null   float64
 41  rni                   4097 non-null   float64
 42  schools               2312 non-null   float64
 43  servises              1922 non-null   float64
 44  wage                  4098 non-null   float64
 45  workers               4095 non-null   float64
dtypes: float64(41), int64(2), object(3)
memory usage: 1.4+ MB

In [16]:
df_var = df.copy()
df_med = df.copy()

In [18]:
fill_zero_cols = [
    'industry', 'servises', 'assets', 'retail', 'invest_fed', 'invest_budg',
    'investment', 'job_regist_unempl', 'workers',
    'pupils', 'schools', 'preschool', 'preschool_places', 'preschool_child',
    'polyclinic', 'hospitals', 'polycl_visits', 'hospital_beds', 'doctors', 'nurses',
    'build_flat', 'new_hospital_beds', 'new_school_places', 'new_polycl_visits',
    'new_preschool_places', 'construction', 'new_housing'
]

fill_median_cols = ['wage', 'pension']

# --- df_var: по логике ---
# 1. Заполняем 0
df_var[fill_zero_cols] = df_var[fill_zero_cols].fillna(0)

# 2. Медиана по региону
for col in fill_median_cols:
    df_var[col] = df_var.groupby('region')[col].transform(lambda x: x.fillna(x.median()))

# 3. Остальные пропуски остаются как есть

# --- df_med: медиана по колонке ---
df_med = df_med.fillna(df_med.median(numeric_only=True))

In [20]:
df_var.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4109 entries, 0 to 4108
Data columns (total 46 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   region                4109 non-null   object
 1   municipality          4109 non-null   object
 2   settlement            4109 non-null   object
 3   oktmo                 4109 non-null   int64
 4   latitude_dd           4109 non-null   float64
 5   longitude_dd          4109 non-null   float64
 6   year                  4109 non-null   int64
 7   assets                4109 non-null   float64
 8   birth                 4104 non-null   float64
 9   build_flat            4109 non-null   float64
 10  construction          4109 non-null   float64
 11  death                 4101 non-null   float64
 12  doctors               4109 non-null   float64
 13  hospital_beds         4109 non-null   float64
 14  hospitals             4109 non-null   float64
 15  industry              4109 non-null   float64
 16  invest_budg           4109 non-null   float64
 17  invest_fed            4109 non-null   float64
 18  investment            4109 non-null   float64
 19  job_regist_unempl     4109 non-null   float64
 20  living_space          4088 non-null   float64
 21  n_companies           3979 non-null   float64
 22  new_hospital_beds     4109 non-null   float64
 23  new_housing           4109 non-null   float64
 24  new_polycl_visits     4109 non-null   float64
 25  new_preschool_places  4109 non-null   float64
 26  new_school_places     4109 non-null   float64
 27  nurses                4109 non-null   float64
 28  pens                  3958 non-null   float64
 29  pension               4109 non-null   float64
 30  polycl_visits         4109 non-null   float64
 31  polyclinic            4109 non-null   float64
 32  pop_1_6               2941 non-null   float64
 33  pop_work              2942 non-null   float64
 34  pop_young             2942 non-null   float64
 35  population            4107 non-null   float64
 36  preschool             4109 non-null   float64
 37  preschool_child       4109 non-null   float64
 38  preschool_places      4109 non-null   float64
 39  pupils                4109 non-null   float64
 40  retail                4109 non-null   float64
 41  rni                   4097 non-null   float64
 42  schools               4109 non-null   float64
 43  servises              4109 non-null   float64
 44  wage                  4109 non-null   float64
 45  workers               4109 non-null   float64
dtypes: float64(41), int64(2), object(3)
memory usage: 1.4+ MB

In [22]:
df_med.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4109 entries, 0 to 4108
Data columns (total 46 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   region                4109 non-null   object
 1   municipality          4109 non-null   object
 2   settlement            4109 non-null   object
 3   oktmo                 4109 non-null   int64
 4   latitude_dd           4109 non-null   float64
 5   longitude_dd          4109 non-null   float64
 6   year                  4109 non-null   int64
 7   assets                4109 non-null   float64
 8   birth                 4109 non-null   float64
 9   build_flat            4109 non-null   float64
 10  construction          4109 non-null   float64
 11  death                 4109 non-null   float64
 12  doctors               4109 non-null   float64
 13  hospital_beds         4109 non-null   float64
 14  hospitals             4109 non-null   float64
 15  industry              4109 non-null   float64
 16  invest_budg           4109 non-null   float64
 17  invest_fed            4109 non-null   float64
 18  investment            4109 non-null   float64
 19  job_regist_unempl     4109 non-null   float64
 20  living_space          4109 non-null   float64
 21  n_companies           4109 non-null   float64
 22  new_hospital_beds     4109 non-null   float64
 23  new_housing           4109 non-null   float64
 24  new_polycl_visits     4109 non-null   float64
 25  new_preschool_places  4109 non-null   float64
 26  new_school_places     4109 non-null   float64
 27  nurses                4109 non-null   float64
 28  pens                  4109 non-null   float64
 29  pension               4109 non-null   float64
 30  polycl_visits         4109 non-null   float64
 31  polyclinic            4109 non-null   float64
 32  pop_1_6               4109 non-null   float64
 33  pop_work              4109 non-null   float64
 34  pop_young             4109 non-null   float64
 35  population            4109 non-null   float64
 36  preschool             4109 non-null   float64
 37  preschool_child       4109 non-null   float64
 38  preschool_places      4109 non-null   float64
 39  pupils                4109 non-null   float64
 40  retail                4109 non-null   float64
 41  rni                   4109 non-null   float64
 42  schools               4109 non-null   float64
 43  servises              4109 non-null   float64
 44  wage                  4109 non-null   float64
 45  workers               4109 non-null   float64
dtypes: float64(41), int64(2), object(3)
memory usage: 1.4+ MB

In [24]:
# Контекст (location + time)
context_cols = ['region', 'municipality', 'settlement', 'oktmo', 'latitude_dd', 'longitude_dd', 'year']
demography_cols = ['oktmo', 'year', 'pop_1_6', 'pop_work', 'pop_young', 'pens', 'rni', 'death', 'birth', 'population']
economy_cols = ['oktmo', 'year', 'industry', 'servises', 'assets', 'retail', 'invest_fed', 'invest_budg',
                'investment', 'wage', 'pension', 'job_regist_unempl', 'n_companies', 'workers']
education_cols = ['oktmo', 'year', 'pupils', 'schools', 'preschool', 'preschool_places', 'preschool_child']
healthcare_cols = ['oktmo', 'year', 'polyclinic', 'hospitals', 'polycl_visits', 'hospital_beds', 'doctors', 'nurses']
infrastructure_cols = ['oktmo', 'year', 'build_flat', 'new_hospital_beds', 'new_school_places',
                       'new_polycl_visits', 'new_preschool_places', 'construction', 'new_housing', 'living_space']

# Разделение для df_var
context_var = df_var[context_cols].drop_duplicates()
demography_var = df_var[demography_cols]
economy_var = df_var[economy_cols]
education_var = df_var[education_cols]
healthcare_var = df_var[healthcare_cols]
infrastructure_var = df_var[infrastructure_cols]

# Разделение для df_med
context_med = df_med[context_cols].drop_duplicates()
demography_med = df_med[demography_cols]
economy_med = df_med[economy_cols]
education_med = df_med[education_cols]
healthcare_med = df_med[healthcare_cols]
infrastructure_med = df_med[infrastructure_cols]

In [26]:
tables = {
    "context_var": context_var,
    "demography_var": demography_var,
    "economy_var": economy_var,
    "education_var": education_var,
    "healthcare_var": healthcare_var,
    "infrastructure_var": infrastructure_var,
    
    "context_med": context_med,
    "demography_med": demography_med,
    "economy_med": economy_med,
    "education_med": education_med,
    "healthcare_med": healthcare_med,
    "infrastructure_med": infrastructure_med
}

In [46]:
import os

# Создадим папку для экспорта (если нет)
os.makedirs("csv_export_2", exist_ok=True)

for name, df in tables.items():
    df.to_csv(f"csv_export_2/{name}.csv", index=False)
    print(f"Экспортировано: {name}.csv")

Экспортировано: context_var.csv
Экспортировано: demography_var.csv
Экспортировано: economy_var.csv
Экспортировано: education_var.csv
Экспортировано: healthcare_var.csv
Экспортировано: infrastructure_var.csv
Экспортировано: context_med.csv
Экспортировано: demography_med.csv
Экспортировано: economy_med.csv
Экспортировано: education_med.csv
Экспортировано: healthcare_med.csv
Экспортировано: infrastructure_med.csv

In [39]:
df_var.replace({'«': '"', '»': '"'}, regex=True, inplace=True)
df_med.replace({'«': '"', '»': '"'}, regex=True, inplace=True)

In [43]:
import pandas as pd
import os
import re
from collections import Counter

folder = "csv_export_2"
files_with_issues = []  # Список файлов с подозрительными символами

# Функция для проверки символов
def has_weird_chars(s):
    return isinstance(s, str) and bool(re.search(r'[^\u0000-\u052F]', s))

# Проходим по всем файлам
for filename in os.listdir(folder):
    if filename.endswith(".csv"):
        filepath = os.path.join(folder, filename)
        
        try:
            df = pd.read_csv(filepath, encoding='utf-8')
            print(f"\n📂 Проверяется файл: {filename}")
            
            mask = df.applymap(has_weird_chars)
            if mask.any().any():
                print("⚠️ Найдены подозрительные символы!")
                files_with_issues.append(filename)

                # Показать примеры
                print("Примеры строк с подозрительными символами:")
                print(df[mask.any(axis=1)].head())

                # Подсчёт подозрительных символов
                char_counts = Counter(''.join(df.select_dtypes(include='object').stack().dropna().astype(str)))
                for char, count in char_counts.items():
                    if ord(char) > 127 and not ('А' <= char <= 'я' or char in 'ёЁ'):
                        print(f"'{char}' — {count} раз (код: {ord(char)})")
            else:
                print("✅ Подозрительных символов нет.")

        except UnicodeDecodeError as e:
            print(f"💥 Ошибка кодировки в файле {filename}: {e}")

# Вывод финального результата
print("\n=== Результаты проверки ===")
if files_with_issues:
    print(f"⚠️ В {len(files_with_issues)} файлах найдены подозрительные символы:")
    for file in files_with_issues:
        print(f"- {file}")
else:
    print("✅ Все файлы чистые, подозрительных символов нет.")

=== Результаты проверки ===
✅ Все файлы чистые, подозрительных символов нет.

In [ ]:
import os
import pandas as pd
from sqlalchemy import create_engine

USER = "postgres"
PASSWORD = "123"
HOST = "localhost"
PORT = 5432

def load_csv_to_postgres(folder_path, db_name):
    engine = create_engine(f"postgresql+psycopg2://{USER}:{PASSWORD}@{HOST}:{PORT}/{db_name}")

    for file in os.listdir(folder_path):
        if file.endswith(".csv"):
            table_name = file.replace("_bom.csv", "")
            csv_path = os.path.join(folder_path, file)
            
            print(f"📥 Загружаем {table_name} → {db_name}...")

            try:
                df = pd.read_csv(csv_path, encoding="utf-8")
            except UnicodeDecodeError:
                print(f"⚠️ Ошибка чтения {file} с utf-8. Пробуем cp1251...")
                df = pd.read_csv(csv_path, encoding="cp1251")

            df.to_sql(table_name, engine, if_exists="replace", index=False)
            print(f"✅ Готово: {table_name}")

var_dir = r"D:\data analytics\аналитика 6\powerBI\проект\csv_export_2\var"
med_dir = r"D:\data analytics\аналитика 6\powerBI\проект\csv_export_2\med"

load_csv_to_postgres(var_dir, "project_var")